@font-face {
	font-family: 'UTM Times';
	src: url('../fonts/utm-times/UTMTimes.woff2') format('woff2'),
		url('../fonts/utm-times/UTMTimes.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UTM Times';
	src: url('../fonts/utm-times/UTMTimesItalic.woff2') format('woff2'),
		url('../fonts/utm-times/UTMTimesItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'UTM Times';
	src: url('../fonts/utm-times/UTMTimesBoldItalic.woff2') format('woff2'),
		url('../fonts/utm-times/UTMTimesBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'UTM Times';
	src: url('../fonts/utm-times/UTMTimesBold.woff2') format('woff2'),
		url('../fonts/utm-times/UTMTimesBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
